<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">
      <span class="brand-text">FoodHub</span><span class="brand-dot">.</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
        </li>

        <ng-container *ngIf="user$ | async as user; else guestLinks">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link px-2" routerLink="/profile" title="Profile">
              <i class="bi bi-person-circle"></i>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <button class="btn btn-logout btn-sm ms-2" (click)="logout()">Logout</button>
          </li>

          <li class="nav-item dropdown d-lg-none w-100 text-center mt-2">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle me-2"></i> Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-center">
              <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ng-container>

        <ng-template #guestLinks>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-register" routerLink="/registration">Sign Up</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>