<div class="container my-5">
  <h2 class="text-center mb-4">Our Items</h2>

  <div class="row g-4">
    <div *ngFor="let item of items" class="col-md-4 mb-4">
      <div class="card h-100 item-card shadow-sm">
        <!-- item Image with hover effect -->
        <div class="item-image-container">
          <img [src]="'http://localhost:3000/uploads/' + item.img" class="card-img-top p-3"
            alt="{{ item.name }}" style="height: 200px; object-fit: contain;">
          <div class="add-to-cart-overlay">
            <button class="btn btn-primary" [routerLink]="['/items/', item._id]">
              See Item
            </button>
          </div>
        </div>

        <!-- item Details -->
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text text-muted mb-3">{{ item.desc }}</p>
          <p class="card-text text-muted mb-3">Price : {{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>

 
</div>
