<h4 class="mb-3">
  {{ isEditMode ? 'Edit Item' : 'Add Item' }}
</h4>

<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-3">
    <label>Name</label>
    <input class="form-control" formControlName="name">
  </div>

  <div class="mb-3">
    <label>Description</label>
    <textarea class="form-control" formControlName="desc"></textarea>
  </div>

  <div class="mb-3">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price">
  </div>

  <div class="mb-3">
    <label>Image</label>
    <input type="file" class="form-control"
           (change)="onFileChange($event)">
  </div>

  <div class="mt-4">
    <button class="btn btn-success me-2" type="submit">
      {{ isEditMode ? 'Update Item' : 'Add Item' }}
    </button>

    <button type="button"
            class="btn btn-secondary"
            (click)="back()">
      Cancel
    </button>
  </div>

</form>
